.vs/
x64/
data/
CapturerByHBI/Array/
CapturerByHBI/BigTIFF/
CapturerByHBI/Common/
CapturerByHBI/CTiff/
CapturerByHBI/vcpkg/
CapturerByHBI/vcpkg_utils/

# Ignore non-C++ source/header extensions
*.bash
*.bat
*.bmp
*.c
*.cc
*.cmake
*.cmakein
*.cmd
*.committime
*.conf
*.css
*.csv
*.dat
*.def
*.diff
*.dll
*.dsp
*.dsw
*.exe
*.filters
*.fish
*.gif
*.gitattributes
*.gitignore
*.gn
*.gni
*.hpp
*.htm
*.ico
*.idb
*.in
*.inc
*.iobj
*.ipdb
*.json
*.lastbuildstate
*.lib
*.linux
*.list
*.log
*.lzh
*.mac
*.md
*.mk
*.mode1v3
*.natvis
*.nix
*.nmake
*.obj
*.patch
*.pbxproj
*.pbxuser
*.pc
*.pch
*.pdb
*.pdf
*.pl
*.properties
*.props
*.ps1
*.psd1
*.psm1
*.py
*.qs
*.rb
*.rc
*.rc2
*.recipe
*.res
*.sh
*.sln
*.targets
*.tif
*.tlog
*.txt
*.unix
*.user
*.vcpkg-root
*.vcproj
*.vcxproj
*.win
*.xml
*.yml
*.zip
*.zsh